{% extends 'layout.twig' %}
{% block head %}
<link rel='stylesheet' href='/stylesheets/style.css?v=1.0' />
{% endblock %}
{% block body %}
<div class="right floated thirteen wide computer sixteen wide phone column" id="content">
  <div class="ui container grid">
    <div class="row">
      <div class="fifteen wide computer sixteen wide phone centered column">
        <h2><i class="home icon"></i> {{message}}</h2>
        <div class="ui divider"></div>
        <h2>{{error.status}}</h2>
        <pre>{{error.stack}}</pre>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
